<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no seu meetup, confira os detalhes abaixo.</p>
<p>
  <strong>Título da Meetup: </strong> {{ meetup }} <br />
  <strong>Nome do inscrito: </strong> {{ user }} <br />
  <strong>Email do inscrito: </strong> {{ email }} <br />
</p>
